.payment-modal {
  @include modal-layout();
  grid-template-columns: [s] 1fr [e];
  grid-template-rows: [header-s] 1fr [header-e body-s] 1fr [body-e proceed-s] 1fr [proceed-e];
  &__text {
    font-size: 20px;
  }
  &__header {
    grid-column: s/e;
    grid-row: header-s/header-e;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
  }
  &__body {
    grid-column: s/e;
    grid-row: contnet-s/contnet-e;
    text-align: center;
  }
  &__proceed {
    grid-column: 1/-1;
    grid-row: proceed-s/proceed-e;
    transform: translateX(280px);
  }
}
