.purchase-history {
  font-size: 30px;
  &__page-title {
    border-bottom: 1px solid #cccccc;
  }
  &__border-bottom {
    border-bottom: 1px solid #f2f2f2;
  }
}

.purchases {
  font-size: 30px;
}

.purchase-detail {
  font-size: 30px;
}
